*{
    font-family:'Times New Roman', Times, serif ;
}
.content {
    display: flex;
    width: 100%;
    height: 100vh;
}
.content .nav{
    width: 20%;
    background-color: rgb(49, 49, 49);
}
.content .compents{
    width: 80%;
    background-color: rgb(233, 233, 233);
}

.barnav{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
}

.barnav .profil{
    display: flex;
    align-items: center;
    gap: 10px;
}

.barnav .profil p{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.barnav .link{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.barnav .link a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 9px;
    color: rgb(113, 119, 156);
}

.barnav .link a:hover{
    background-color: gray;
    border-radius: 5px;
    color: black;
}

.barnav .link a p{
    font-size: 22px;
}

.barnav .logout{
    display: flex;
    align-items: center;
    margin-top: 80px;
    cursor: pointer;
}

.barnav .logout:hover{
    background-color: gray;
    border-radius: 5px;
}

.barnav .logout p{
    font-size: 20px;
    color: white;
}

.compents{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.compents .haut{
    display: flex;
    justify-content: space-between;
}

.compents .haut .rechercher{
    width: 500px;
}

.haut .rechercher input{
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 50px;
}
.compents .haut .buttonajouter{
    cursor: pointer;
    background-color: blue;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    /* margin-right: 10px; */
    text-align: center;
}

table .action{
    display: flex;
    cursor: pointer;
    gap: 10px;
}

.compents .compents-content{
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.tab {
    width: 100%;
    max-height: 85vh;
    overflow-y: auto;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: -20px;
}

.compents-content .param{
    width: 100%;
    height: 85vh;
    background-color: rgb(196, 193, 193);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.param .anaty-param{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    gap: 5px;
}

.anaty-param .sary{
    width: 30%;
}

.anaty-param .formulaire{
    width: 70%;
    display: flex;
    flex-direction: column;
}

form .form-ambony, .form-ambany{
    display: flex;
    gap: 5px;
}

.btn{
    font-size: 30px;
}

.param .bar{
    width: 100%;
    height: 1px;
    background-color: black;

}
.param .param-kozy{
    font-size: 20px;
    margin: 0;
}

.kozy p{
    font-size: 20px;
    margin: 0;
}

.mdp{
    background-color: blue;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    margin-left: 80%;
    cursor: pointer;
}

.mdp-contenu{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mdp-contenu .mdp-anaty{
    width: 40%;
    background-color: #ccc;
    z-index: 999;
    padding: 10px;
    border-radius: 10px;
}

.mdp-anaty .ferme{
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.compents-content .h1{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 40px;
}

.dash{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.anaty-dash{
    width: 45%;
    height: 18em;
    background-color: rgb(123, 129, 129);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.anaty-dash p{
    font-weight: bold;
    font-size: 30px;
}

.reponse-anaty {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20%;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    box-sizing: border-box;
}

.anaty-reponse{
    background-color: white;
    height: 90vh;
    border-radius: 10px;
}

.anaty-reponse .ferme{
    float: right;
    margin-right: 10px;
    margin-top: -15px;
    font-size: 30px;
    /* color: white; */
    cursor: pointer;
}