.content{
    background-color: rgb(155, 155, 155);
}
.Etudiant{
    margin-top: 1%;
    width: 100%;
    height: 97vh;
    display: flex;
    gap: 20px;
    background-color: rgb(255, 255, 255);
}

.Etudiant .left{
    width: 25%;
    /* padding: 15px; */
    box-sizing: border-box;
}

.Etudiant .gauche{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Etudiant .gauche .recherche{
    width: 600px;
    float: right;
    margin-right: 0px;
}

.Etudiant .gauche .recherche input{
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

.anatiny-profile{
    width: 100%;
    height: 520px;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anatiny-profile .anarana .nom{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.anatiny-profile .classe{
    text-align: center;
}

.classe .mention{
    font-weight: bold;
    color: rgb(0, 58, 116);
}

.classe .parcour{
    font-weight: bold;
    color: rgb(9, 9, 75);
}

.anatiny-profile .bar{
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 10px;
}
.anatiny-profile .total{
    font-size: 20px;
}

.total p span{
    color: blue;
}

.anatiny-profile .mdp{
    background-color: blue; 
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.gauche .right-contenu{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.gauche .right-contenu .anaty-annonce{
    position: relative;
    width: 27em;
    height: 26em;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 2px 2px rgba(0,0,0,0.3);
}

.right-contenu .anaty-annonce .publieur{
    display: flex;
    align-items: center;
    gap: 10px;
}

.publieur .nom .anarana{
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.publieur .nom .date{
    font-size: 15px;
    margin: 0;
}

.anaty-annonce .description p{
    margin: 10px;
    font-size: 15px;
}

.right-contenu .anaty-annonce .couverture{
    width: 100%;
    height: 58%;
    border-radius: 5px;
    overflow: hidden;
}

.anaty-annonce .couverture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-contenu .anaty-annonce .action{
    float: right;
    cursor: pointer;
    margin-right: 15px;
}

.gauche .right-contenu .anaty-cours{
    position: relative;
    width: 25em;
    height: 27em;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 2px 2px rgba(0,0,0,0.3);
}

.right-contenu .anaty-cours .cours{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(6, 78, 126);
    color: white;
    padding: 6px;
    box-sizing: border-box;
    width: 25%;
    border-radius: 6px;
    text-align: center;
}

.right-contenu .anaty-cours .couverture{
    width: 100%;
    height: 60%;
    border-radius: 5px;
    overflow: hidden;
}

.anaty-cours .couverture img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.anaty-cours .description .libelle{
    font-weight: bold;
    margin-bottom: 0;
}

.anaty-cours .description .resume{
    margin: 5px;
    font-size: 15px;
}

.anaty-cours .ambany{
    display: flex;
    align-items: center;
    justify-content: center;
}

.anaty-cours .ambany .publieur{
    display: flex;
    align-items: center;
    gap: 10px;
}

.anaty-cours .ambany .action{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.gauche .right-contenu .anaty-devoir{
    position: relative;
    width: 25em;
    height: 24em;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 2px 2px rgba(0,0,0,0.3);
}
.right-contenu .anaty-devoir .devoir{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(6, 78, 126);
    color: white;
    padding: 6px;
    box-sizing: border-box;
    width: 25%;
    border-radius: 6px;
    text-align: center;
}

.right-contenu .anaty-devoir .couverture{
    width: 100%;
    height: 65%;
    border-radius: 5px;
    overflow: hidden;
}

.anaty-devoir .couverture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.anaty-devoir .description .libelle{
    font-weight: bold;
    margin-bottom: 0;
}

.anaty-devoir .description .resume{
    margin: 5px;
    font-size: 15px;
}
.anaty-devoir .ambany{
    display: flex;
    align-items: center;
    justify-content: center;
}

.anaty-devoir .ambany .publieur{
    display: flex;
    align-items: center;
    gap: 10px;
}

.anaty-devoir .ambany .action{
    display: flex;
    gap: 10px;
    cursor: pointer;
}


.gauche .right-contenu .anaty-prof{
    position: relative;
    width: 20em;
    height: 19em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 4px 2px 2px rgba(0,0,0,0.3);
}

.right-contenu .anaty-prof .bio p{
    text-align: center;
    margin: 0;
}

.anaty-prof .bio .anarany{
    font-weight: bold;
    font-size: 20px;
}

.anaty-prof .bio .tel{
    font-weight: 550;
    color: rgb(61, 61, 61);
}

.anaty-prof .bio .mail{
    font-weight: 550;
    color: rgb(107, 107, 107);
}

.anaty-prof .message{
    background-color: rgb(0, 82, 114);
    color: white;
    padding: 6px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.Etudiant .parametre {
    margin-top: 4% ;
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.Etudiant .parametre .left{
    width: 25%;
}

.Etudiant .parametre .gauche{
    width: 75%;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.formulaire-parametre h1{
    text-align: center;
}

.gauche .formulaire-parametre form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulaire-parametre form .info, .classe-parametre, .contact-parametre{
    display: flex;
    gap: 10px;
}

form .btn-parametre{
    width: 50%;
    margin-left: 50%;
}

.Etudiant .notif{
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding: 10px; */
}

.Etudiant .notif .anaty-notif{
    background-color: rgb(133, 133, 133);
    border-radius: 10px;
    width: 60%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.notif .anaty-notif h1{
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.anaty-notif .filtre{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.filtre .btn{
    /* background-color: blue; */
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
}

.anaty-notif .tab{
    margin-top: 20px;
}

.soumettre{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.soumettre .anaty-soumettre{
    width: 30%;
    height: 25%;
    border-radius: 10px;
    background-color: white;
}

.soumettre .anaty-soumettre .fermer{
    float: right;
    font-size: 20px;
    padding: 2px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.soumettre .anaty-soumettre .formulaire{
    padding: 10px;
    box-sizing: border-box;
}

.regarder{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.regarder .anaty-regarder{
    width: 80%;
    height: 85%;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
}

.regarder .anaty-regarder .fermer{
    float: right;
    font-size: 20px;
    padding: 2px 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.fichier{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.mdp-contenu{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mdp-contenu .mdp-anaty{
    width: 40%;
    background-color: #ccc;
    z-index: 999;
    padding: 10px;
    border-radius: 10px;
}

.mdp-anaty .ferme{
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.action-annonce{
    display: flex;
    margin-left: 80%;
    cursor: pointer;
    background-color: blue;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    text-align: center;
}

table {
    width: 100%;
}