
.Modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal > div {
    width: 40%;
    margin-top: -50px;
    background-color: rgb(253, 243, 243);
    border-radius: 5px;
}

.Modal .fermer{
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}

.Modal .titre h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.Modal .formulaire, .formulaire-prof {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.content {
    display: flex;
    width: 100%;
    height: 100vh;
}
.content .nav{
    width: 20%;
    background-color: rgb(48, 48, 48);
}
.content .compent{
    width: 80%;
    background-color: rgb(233, 233, 233);
}
.barnav{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.barnav .profil{
    display: flex;
    align-items: center;
    gap: 10px;
}

.barnav .profil p{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.barnav .link{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
}

.barnav .link a{
    display: flex;
    text-decoration: none;
    gap: 5px;
}

.barnav .link a:hover{
    background-color: gray;
    border-radius: 5px;
}

.barnav .link a p{
    font-size: 20px;
}

.barnav .logout{
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.barnav .logout:hover{
    background-color: gray;
    border-radius: 5px;
}

.barnav .logout p{
    font-size: 20px;
    color: white;
}
.compent{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.compent .haut{
    display: flex;
    justify-content: space-between;
}

.compent .haut .rechercher{
    width: 500px;
}

.haut .rechercher input{
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 50px;
}
.compent .haut .buttonajouter{
    cursor: pointer;
    background-color: blue;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

table .action{
    display: flex;
    cursor: pointer;
    gap: 10px;
}

.compent .componet-content{
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.tab {
    width: 100%;
    height: 80vh;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}
table{
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

th, td{
    padding: 5px;
    border-bottom: 2px solid rgb(228, 221, 221);
}

tr:nth-child(even){
    background-color: rgb(170, 169, 169);
}

.componet-content .param{
    width: 100%;
    height: 85vh;
    background-color: rgb(196, 193, 193);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.param .anaty-param{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    gap: 5px;
}

.anaty-param .sary{
    width: 30%;
}

.anaty-param .formulaire{
    width: 70%;
    display: flex;
    flex-direction: column;
}

form .form-ambony, .form-ambany{
    display: flex;
    gap: 5px;
}

.btn{
    font-size: 30px;
}

.param .bar{
    width: 100%;
    height: 1px;
    background-color: black;

}

.mdp{
    background-color: blue;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    margin-left: 80%;
    cursor: pointer;
}

.mdp-contenu{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mdp-contenu .mdp-anaty{
    width: 40%;
    background-color: #ccc;
    z-index: 999;
    padding: 10px;
    border-radius: 10px;
}

.mdp-anaty .ferme{
    float: right;
    cursor: pointer;
    font-size: 20px;
}

h3{
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
}

.componet-content .dashboard{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dashboard .dash-top{
    height: 10em;
}
.dash-top{
    display: flex;
    gap: 10px;
}

.dash-top .anatiny{
    width: 25%;
    height: 100%;
    background-color: #ccc;
    border-radius: 5px;
    transition: transform .5s;
}

.anatiny:hover{
    transform: scale(1.1);
}

.dashboard .dash-bottom{
    height: 23em;
    background-color: #ccc;
    border-radius: 5px;
    padding: 10px;
}

.chart-anatiny{
    background-color: white;
    height: 23em;
}
