.card{
    width: 25em;
    height: 29em;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.096);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card .left{
    width: 50%;
    height: 100%;
}
.img{
    height: 50%;
}
.action{
    display: flex;
    justify-content: space-between;
   
}
.action p{
    cursor: pointer;
    margin: 0%;
}
.action .show{
    color: rgba(99, 99, 99, 0.651);
}