.contenu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    width: 35%;
    box-shadow: black;
}
.right .fermer{
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}
.right .formulaire{
    padding: 15px;
    box-sizing: border-box;
}
.right .formulaire h2{
    text-align: center;
    margin-bottom: 0;
}
.right .formulaire .oublier a{
    color: blue;
    text-decoration: none;
    float: right;
}
